force-app/main/default/flows/Certification_Request_Voucher_Validation_Rule.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>57.0</apiVersion>
    <decisions>
        <name>Found_any_record_with_the_same_voucher</name>
        <label>Found any record with the same voucher ?</label>
        <locationX>405</locationX>
        <locationY>354</locationY>
        <defaultConnector>
            <targetReference>Get_Aspirants_which_have_Pending_Certification_Requests</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>Yes</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_the_certification_request_which_have_the_Voucher_same_as_Triggered_Object.Id</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Check_the_Voucher_Validation_check_box</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <name>Found_Aspirants_which_have_Pending_requests</name>
        <label>Found Aspirants which have Pending requests ?</label>
        <locationX>592</locationX>
        <locationY>568</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>yes_found</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Aspirants_which_have_Pending_Certification_Requests.Id</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Check_the_Voucher_Validation_check_box_0</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <interviewLabel>Certification Request: Voucher Validation Rule {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Certification Request: Validation Rules</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>FREE_FORM_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>Get_Aspirants_which_have_Pending_Certification_Requests</name>
        <label>Get Aspirants which have Pending Certification Requests</label>
        <locationX>414</locationX>
        <locationY>566</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Found_Aspirants_which_have_Pending_requests</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Voucher__c</field>
            <operator>IsNull</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <filters>
            <field>Status__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Pending</stringValue>
            </value>
        </filters>
        <filters>
            <field>Aspirant__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Aspirant__r.Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Certifictaion_Request__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_the_certification_request_which_have_the_Voucher_same_as_Triggered_Object</name>
        <label>Get the Certification Request which have the Voucher same as Triggered Object</label>
        <locationX>179</locationX>
        <locationY>353</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Found_any_record_with_the_same_voucher</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Voucher__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Voucher__r.Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Certifictaion_Request__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>Check_the_Voucher_Validation_check_box</name>
        <label>Check the Voucher Validation check box</label>
        <locationX>627</locationX>
        <locationY>352</locationY>
        <inputAssignments>
            <field>Voucher_Validation_Rule__c</field>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Check_the_Voucher_Validation_check_box_0</name>
        <label>Check the Voucher Validation check box</label>
        <locationX>836</locationX>
        <locationY>567</locationY>
        <inputAssignments>
            <field>Aspirant_Validation_Rule__c</field>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <start>
        <locationX>53</locationX>
        <locationY>41</locationY>
        <connector>
            <targetReference>Get_the_certification_request_which_have_the_Voucher_same_as_Triggered_Object</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Voucher__c</field>
            <operator>IsNull</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <object>Certifictaion_Request__c</object>
        <recordTriggerType>CreateAndUpdate</recordTriggerType>
        <triggerType>RecordBeforeSave</triggerType>
    </start>
    <status>Active</status>
</Flow>
